<div [formGroup]="formG">
    <mat-form-field class="full_width">
        <mat-label>{{label}}</mat-label>
        <input [max]="maxDate" [min]="minDate" [formControlName]="formC" matInput [matDatepicker]="datePicker">
        <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
        <mat-error>
            <app-errorp-tip [formG] = formG [formCN]="formC" [fLabel]="label"></app-errorp-tip>
        </mat-error>
    </mat-form-field>
</div>