<div class="container-fluid mart_basefive3">
    <div class="row">
        <div class="col-12">
            <app-custom-table title="Resigned Staff List" role="resigned staff profile list" [searchable]="true"
                              [dataArray]="empResignsForUi" [labelNColArray]="labelColumnConfigurations" link=""></app-custom-table>
        </div>
    </div>
</div>
