// table column width
.mat-mdc-header-cell.mat-column-id {
    min-width: 70px;
}
.mat-mdc-header-cell.mat-column-name {
    min-width: 200px;
}
.mat-mdc-header-cell.mat-column-email {
    min-width: 230px;
}
.mat-mdc-header-cell.mat-column-employeeCode {
    min-width: 120px;
}
.mat-mdc-header-cell.mat-column-position {
    min-width: 150px;
}
.mat-mdc-header-cell.mat-column-rankRange {
    min-width: 70px;
}
.mat-mdc-header-cell.mat-column-genderType {
    min-width: 100px;
}
.mat-mdc-header-cell.mat-column-idNumber {
    min-width: 200px;
}
.mat-mdc-header-cell.mat-column-dateOfBirth {
    min-width: 120px;
}
.mat-mdc-header-cell.mat-column-actualDateOfBirth {
    min-width: 120px;
}
.mat-mdc-header-cell.mat-column-contactNo {
    min-width: 150px;
}
.mat-mdc-header-cell.mat-column-emergencyContactNo {
    min-width: 200px;
}
.mat-mdc-header-cell.mat-column-bankAccount {
    min-width: 200px;
}
.mat-mdc-header-cell.mat-column-address {
    min-width: 350px;
}
.mat-mdc-header-cell.mat-column-jointDate {
    min-width: 120px;
}
.mat-mdc-header-cell.mat-column-contractDate {
    min-width: 120px;
}

// table search
::ng-deep input::placeholder {
    color:rgba(255, 255, 255, 0.62) !important;
}
::ng-deep .card-header .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: #FFFFFF !important;
}
::ng-deep .card-header .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 0 !important;
}
::ng-deep .card-header .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}
::ng-deep .card-header .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: #e7b3be !important;
}
::ng-deep .card-header .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: #FFFFFF !important;
}
::ng-deep .card-header .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    caret-color: #FFFFFF !important;
}

.card-header {
    display: flex;
    justify-content: space-between;
}
.table_filter {
    .mat-mdc-form-field {
        width: 300px;
        line-height: 0;
        position: relative;
        top: -10px;

        .icon_search{
            position: relative;
            left: 0;
            top: 25px;
            font-size: 20px;
            color: rgba(255, 255, 255, 0.62);
        }
        input {
            padding-left: 30px;
        }

        &.mat-focused .icon_search {
            color: #FFFFFF;
        }
    }
}