<div class="container-fluid mart_basefive3">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p class="card-title">Update Lift Card</p>
                    <p class="card-role">update lift card asset form</p>
                </div> 
                <form class="card-body marl_basefive3 marr_basefive3">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Lift Card Number</mat-label>
                                <input matInput value="SIP-Lf-01">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Lift Card Status</mat-label>
                                <mat-select [(value)]="liftCardStatus">
                                    <mat-option value="even">Even</mat-option>
                                    <mat-option value="both">Odd/Even</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Current Owner</mat-label>
                                <mat-select [(value)]="liftCardCurrentOwner">
                                    <mat-option value="user1">User 1</mat-option>
                                    <mat-option value="user2">User 2</mat-option>
                                    <mat-option value="user3">User 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Previous Owner</mat-label>
                                <mat-select [(value)]="liftCardPreviousOwner">
                                    <mat-option value="none">New</mat-option>
                                    <mat-option value="user1">User 1</mat-option>
                                    <mat-option value="user2">User 2</mat-option>
                                    <mat-option value="user3">User 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Created Date</mat-label>
                                <input matInput [matDatepicker]="liftCardCreatedDate">
                                <mat-datepicker-toggle matIconSuffix [for]="liftCardCreatedDate"></mat-datepicker-toggle>
                                <mat-datepicker #liftCardCreatedDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mart_basefive3">
                            <button type="button" class="primary_button marl_basefive2 update_btn" mat-raised-button>Update</button>
                            <button type="button" class="primary_button marl_basefive2 delete_btn" (click)="showDeleteAlert()" mat-raised-button>Delete</button>
                            <button class="primary_button cancel_btn" mat-raised-button routerLink="../">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #deleteDialog>
    <div class="delete_dialog">
        <div mat-dialog-title>
            <mat-icon>error_outline</mat-icon> 
            <mat-label>Confirm Delete</mat-label>
        </div>
        <div mat-dialog-content>
            <p class="text_bold">Are you sure you  want to delete?</p>
            <p>This will delete permanently. You cannot undo this action.</p>
        </div>
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close class="alert_btn">Cancel</button>
            <button mat-button class="alert_btn">OK</button>
        </div>
    </div>
</ng-template>