<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p class="card-title">Update User Profile</p>
                    <p class="card-role">edit/update user profile</p>
                </div>  
                <form class="card-body marl_basefive3 marr_basefive3">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Username</mat-label>
                                <input matInput value="johnsmith">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Display Name</mat-label>
                                <input matInput value="John Smith">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="full_width">
                                <mat-label>Email Address</mat-label>
                                <input matInput type="email" value="johnsmith999@gmail.com">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="full_width">
                                <mat-label>Role</mat-label>
                                <mat-select multiple [formControl]="roleControl">
                                    <mat-select-trigger>
                                        <mat-chip-grid #chipGrid aria-label="Role selection">
                                            <mat-chip-row *ngFor="let menu of roleControl.value" [removable]="true" (removed)="roleRemoved(menu)">
                                                {{menu}}
                                                <mat-icon matChipRemove>cancel</mat-icon>
                                            </mat-chip-row>
                                        </mat-chip-grid>
                                    </mat-select-trigger>

                                    <ng-container *ngFor="let roleItem of roleItems">
                                        <ng-container>
                                            <mat-option [value]="roleItem.label">{{ roleItem.label }}</mat-option>
                                        </ng-container>
                                    </ng-container>
                                    <input [matChipInputFor]="chipGrid" style="display: none;"/>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-label class="status_lbl">Status</mat-label>
                            <mat-checkbox class="marl_basefive10" checked></mat-checkbox>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mart_basefive3">
                            <button type="button" class="primary_button marl_basefive2 update_btn" mat-raised-button>Update User</button>
                            <button type="button" class="primary_button marl_basefive2 delete_btn" (click)="showDeleteAlert()" mat-raised-button>Delete</button>
                            <button class="primary_button cancel_btn" mat-raised-button>Cancel</button>
                        </div>
                    </div> 
                </form>      
            </div>
        </div>
    </div>
</div>

<ng-template #deleteDialog>
    <div class="delete_dialog">
        <div mat-dialog-title>
            <mat-icon>error_outline</mat-icon> 
            <mat-label>Confirm Delete</mat-label>
        </div>
        <div mat-dialog-content>
            <p class="text_bold">Are you sure you  want to delete?</p>
            <p>This will delete permanently. You cannot undo this action.</p>
        </div>
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close class="alert_btn">Cancel</button>
            <button mat-button class="alert_btn">OK</button>
        </div>
    </div>
</ng-template>