.card-body{
    .cancel_btn, .update_btn, .delete_btn {
        float: right;
    }
    .status_lbl  {
        color: rgba(0, 0, 0, 0.6);
    }
}
.delete_dialog {
    min-width: 350px;

    .text_bold {
        font-weight: bold;
    }
}