<div class="container-fluid mart_basefive3">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <a class="sm_card" routerLink="../user-management/user-list">
                <div>
                    <p class="sm_card_title">User List</p>
                    <p class="sm_card_subtitle">Total user : <span>5</span></p>
                    <div class="hr_line"></div>
                    <p class="small_text">Updated date : <span>30/11/2023</span></p>
                </div>               
                <div class="sm_card_btn">
                    <mat-icon>people</mat-icon>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a class="sm_card" routerLink="../user-management/user-role">
                <div>
                    <p class="sm_card_title">Role</p>
                    <p class="sm_card_subtitle">Total : <span>3</span></p>
                    <div class="hr_line"></div>
                    <p class="small_text">Updated date : <span>31/10/2023</span></p>
                </div>               
                <div class="sm_card_btn">
                    <mat-icon>local_mall</mat-icon>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p class="card-title">Add User Profile</p>
                    <p class="card-role">complete user profile</p>
                </div>  
                <form class="card-body marl_basefive3 marr_basefive3">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Username</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Display Name</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="full_width">
                                <mat-label>Email Address</mat-label>
                                <input matInput type="email">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="full_width">
                                <mat-label>Role</mat-label>
                                <mat-select multiple [formControl]="roleControl">
                                    <mat-select-trigger>
                                        <mat-chip-grid #chipGrid aria-label="Role selection">
                                            <mat-chip-row *ngFor="let menu of roleControl.value" [removable]="true" (removed)="roleRemoved(menu)">
                                                {{menu}}
                                                <mat-icon matChipRemove>cancel</mat-icon>
                                            </mat-chip-row>
                                        </mat-chip-grid>
                                    </mat-select-trigger>

                                    <ng-container *ngFor="let roleItem of roleItems">
                                        <ng-container>
                                            <mat-option [value]="roleItem.label">{{ roleItem.label }}</mat-option>
                                        </ng-container>
                                    </ng-container>
                                    <input [matChipInputFor]="chipGrid" style="display: none;"/>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-label class="status_lbl">Status</mat-label>
                            <mat-checkbox class="marl_basefive10"></mat-checkbox>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mart_basefive3">
                            <button type="button" class="primary_button add_profile_btn" mat-raised-button>Add User</button>
                        </div>
                    </div> 
                </form>      
            </div>
        </div>
    </div>
</div>