<div [formGroup]="formG">
    <mat-form-field class="full_width">
        <mat-label>{{label}}</mat-label>
        <mat-select [formControlName]="formC">
            <mat-option *ngFor="let data of datas" [value]="data">{{data.name ? data.name : (data.position ? data.position : data)}}</mat-option>
        </mat-select>
         <mat-error>
            <app-errorp-tip [formG] = formG [formCN]="formC" [fLabel]="label"></app-errorp-tip>
        </mat-error>
    </mat-form-field>
</div>