.card-body{
    .img_preview {
        width: 80px;
        height: 80px;
        border-radius: 40px;
    }
    .upload_input{
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 37px;
        top: -10px;
        z-index: 3;
    }
    .upload_button{
        position: absolute;
        text-align: right;
        right: 0;
        top: 15px;
        padding: 0 15px;
        height: 32px;
        font-size: 12px;
        background: #8B0000;
        color: #ffffff;
    }
    .mat-datepicker-toggle {
        color: #8B0000;
    }
    .cancel_btn, .update_btn, .delete_btn {
        float: right;
    }
}
.delete_dialog {
    min-width: 350px;

    .text_bold {
        font-weight: bold;
    }
}