<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p class="card-title">Edit Staff Profile</p>
                    <p class="card-role">edit/update staff profile</p>
                </div>  
                <div class="card-body marl_basefive3 marr_basefive3">
                    <form [formGroup]="staffForm" (ngSubmit)="updateEmployee()">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <img [src]="preview" class="img_preview">
                            </div>
                            <mat-form-field class="full_width">
                                <input type="file" class="upload_input" accept=".jpeg,.jpg,.png" (change)="onFileSelected($event)" #fileInput hidden />
                                <mat-label>Profile Photo</mat-label>
                                <input matInput cdkFocusInitial [value]="selectedFileName">
                                <button type="button" class="upload_button" mat-raised-button (click)="fileInput.click()">Upload</button>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <app-custom-form [formG]="staffForm" [formC]="'name'" label="Name" class="col-md-12" ></app-custom-form>
                                <app-custom-form [formG]="staffForm" [formC]="'email'" label="Email" class="col-md-12" ></app-custom-form>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <app-custom-select-form [formG]="staffForm" [formC]="'designation'" label="Designation" [datas]="designationList" class="col-md-6"></app-custom-select-form>
                        <app-custom-form [formG]="staffForm" [formC]="'employeeCode'" label="Staff Code" dClass="col-md-6" 
                        (blurEvent)="checkDuplication($event)"  [upperCase]="'true'" class="col-md-6"></app-custom-form>
                    </div>
                    <div class="row">
                        <app-custom-select-form [formG]="staffForm" [formC]="'genderType'" label="Gender" [datas]="genderList" class="col-md-6"></app-custom-select-form>
                        <app-custom-form [formG]="staffForm" [formC]="'idNumber'" label="Identification Number"  dClass="col-md-6"
                        (blurEvent)="checkDuplication($event)"  [upperCase]="'true'" class="col-md-6"></app-custom-form>
                    </div> 
                    <div class="row">
                        <app-custom-date-form [formG]="staffForm" [formC]="'dateOfBirth'" label="Date of Birth" [maxDate]="maxDOB" class="col-md-6"></app-custom-date-form>
                        <app-custom-date-form [formG]="staffForm" [formC]="'actualDateOfBirth'" label="Actual Birthday" [maxDate]="maxDOB" class="col-md-6"></app-custom-date-form>
                    </div>
                    <div class="row">
                        <app-custom-form [formG]="staffForm" [formC]="'contactNo'" label="Contact Number" [numberOnly]="'true'" class="col-md-6"></app-custom-form>
                        <app-custom-form [formG]="staffForm" [formC]="'emergencyContactNo'" label="Emergency Contact Number" [numberOnly]="'true'" class="col-md-6"></app-custom-form>
                    </div>
                    <div class="row">
                        <app-custom-form [formG]="staffForm" [formC]="'bankAccount'" label="Bank Account Number"
                        (blurEvent)="checkDuplication($event)" [numberOnly]="'true'" class="col-md-6"></app-custom-form>
                        <app-custom-form [formG]="staffForm" [formC]="'address'" label="Staff Address" class="col-md-6"></app-custom-form>
                    </div>
                    <div class="row">
                        <app-custom-date-form [formG]="staffForm" [formC]="'jointDate'" label="Join Date" [maxDate]="currentDate" class="col-md-6"></app-custom-date-form>
                        <app-custom-date-form [formG]="staffForm" [formC]="'contractDate'" label="Contract Date" [minDate]="currentDate" class="col-md-6"></app-custom-date-form>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Resign Status</mat-label>
                                <mat-select formControlName="isResign">
                                    <mat-option value='on'>On</mat-option>
                                    <mat-option value='off'>Off</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row" *ngIf="checkRequireForResign()">
                        <app-custom-date-form [formG]="staffForm" [formC]="'resignDate'" label="Resign Date" [minDate]="currentDate" class="col-md-6"></app-custom-date-form>
                        <app-custom-form [formG]="staffForm" [formC]="'remark'" label="Remark" class="col-md-6"></app-custom-form>
                    </div> 
                    <div class="row">
                        <div class="col-md-12 mart_basefive3">
                            <button type="submit" class="primary_button marl_basefive2 update_btn" mat-raised-button>Update Profile</button>
                            <button type="button" class="primary_button marl_basefive2 delete_btn" (click)="showDeleteAlert()" mat-raised-button>Delete</button>
                            <button routerLink="/staff-list" class="primary_button cancel_btn" mat-raised-button>Cancel</button>
                        </div>
                    </div>
                    </form>
                </div>      
            </div>
        </div>
    </div>
</div>

<ng-template #deleteDialog>
    <app-custom-dialog [label]="textForDialog" (submitAction)="receiveSubmitAction($event)"></app-custom-dialog>
</ng-template>