<div class="container-fluid mart_basefive3">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p class="card-title">Designation</p>
                    <p class="card-role">staff designation</p>
                </div>
                <div class="card-body marl_basefive3 marr_basefive3">
                    <form [formGroup]="designationForm" (ngSubmit)="createDesignation();">
                        <div class="row">
                            <app-custom-form [formG]="designationForm" [formC]="'position'" label="Designation Name"
                                             class="col-md-6"></app-custom-form>
                            <app-custom-form [formG]="designationForm" [formC]="'rankRange'" label="Rank"
                                             [numberOnly]="'true'" class="col-md-6"></app-custom-form>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mart_basefive3">
                                <button type="submit" class="primary_button add_btn" mat-raised-button>Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mart_basefive4">
        <div class="col-12">
            <app-custom-table title="Designation List" role="Total" [searchable]="false" 
                              [dataArray]="designationList" [labelNColArray]="labelColumnConfigurations"link=""></app-custom-table>
        </div>
    </div>
</div>
