<div>
    <a class="sm_card" [routerLink]="link">
        <div>
            <p class="sm_card_title">{{title}}</p>
            <p class="sm_card_subtitle">{{subtitle}} : <span>{{count}}</span></p>
            <div class="hr_line"></div>
            <p class="small_text">Updated date : <span>{{date}}</span></p>
        </div>
        <div class="sm_card_btn">
            <mat-icon>{{icon}}</mat-icon>
        </div>
    </a>
</div>