<div class="card">
    <div class="card-header">
        <div class="left_div">
            <p class="card-title">{{title}}</p>
            <p class="card-role">{{role}}</p>
        </div>
        <div class="table_filter" *ngIf="searchable">
            <mat-form-field>
                <mat-icon matprefix class="icon_search">search</mat-icon>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search..." [(ngModel)]="searchValue">
            </mat-form-field>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrapper">
                    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="changeSorting($event)">
                        <ng-container *ngFor="let labelCol of labelNColArray" [matColumnDef]="labelCol.col">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                [attr.sortActionDescription]="'Sort by ' + labelCol.col">
                                {{ labelCol.label }}
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ labelCol.col.includes('.') ? 
                                    (element[labelCol.col.split('.')[0]] ? 
                                        (element[labelCol.col.split('.')[0]][labelCol.col.split('.')[1]] ? 
                                            (element[labelCol.col.split('.')[0]][labelCol.col.split('.')[1]][labelCol.col.split('.')[2]] ?
                                                element[labelCol.col.split('.')[0]][labelCol.col.split('.')[1]][labelCol.col.split('.')[2]] :
                                                element[labelCol.col.split('.')[0]][labelCol.col.split('.')[1]]) :
                                            '') :
                                        '') :
                                    element[labelCol.col]
                                }}
                            </td>
                            
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns; let element"
                            [routerLink]="[link,element.id]"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell padt_basefive3 padb_basefive3" colspan="4">No data matching
                                <b>{{searchValue}}</b>
                            </td>
                        </tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>