<div class="container-fluid mart_basefive3">
    <div class="row">
        <div class="col-12">
            <div class="marb_basefive3 marl_basefive3" style="display: inline-block;">
                <button type="button" class="primary_button add_btn" mat-raised-button routerLink="../computer-asset/add-computer-asset">Add Computer Asset</button>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="left_div">
                        <p class="card-title">Computer List</p>
                        <p class="card-role">Latest Updated Date: <span>30/11/2023</span></p>
                    </div>
                    <div class="table_filter">
                        <mat-form-field>
                            <mat-icon matprefix class="icon_search">search</mat-icon>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
                        </mat-form-field>
                    </div>
                </div> 
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
                    
                                <ng-container matColumnDef="no">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by no"> 
                                        No.
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.no}} </td>
                                </ng-container>

                                <ng-container matColumnDef="details">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        Details
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-icon (click)="showDetails()">info</mat-icon>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="computer_name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by computer_name"> 
                                        Computer Name 
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.computer_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="user_name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by user_name"> 
                                        User Name
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.user_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="serial_num">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by serial_num"> 
                                        Serial Number
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.serial_num}} </td>
                                </ng-container>

                                <ng-container matColumnDef="computer_model">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by computer_model"> 
                                        Computer Model
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.computer_model}} </td>
                                </ng-container>

                                <ng-container matColumnDef="old_hd_size">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        Old Hardisk Size
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.old_hd_size}} </td>
                                </ng-container>

                                <ng-container matColumnDef="new_hd_size">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        New Hardisk Size
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.new_hd_size}} </td>
                                </ng-container>

                                <ng-container matColumnDef="ram">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        RAM
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.ram}} </td>
                                </ng-container>

                                <ng-container matColumnDef="ram_speed">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        RAM Speed
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.ram_speed}} </td>
                                </ng-container>

                                <ng-container matColumnDef="ram_type">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        RAM Type
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.ram_type}} </td>
                                </ng-container>

                                <ng-container matColumnDef="os_version">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        OS Version
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.os_version}} </td>
                                </ng-container>

                                <ng-container matColumnDef="cpu">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        CPU
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.cpu}} </td>
                                </ng-container>

                                <ng-container matColumnDef="ms_office">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        Microsoft Office
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.ms_office}} </td>
                                </ng-container>

                                <ng-container matColumnDef="ms_office_status">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        Microsoft Office Status
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.ms_office_status}} </td>
                                </ng-container>

                                <ng-container matColumnDef="ms_office_version">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        Microsoft Office Version
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.ms_office_version}} </td>
                                </ng-container>

                                <ng-container matColumnDef="antivirus_name">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        Antivirus Name
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.antivirus_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="antivirus_status">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        Antivirus Status
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.antivirus_status}} </td>
                                </ng-container>

                                <ng-container matColumnDef="purchase_date">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        Purchase Date
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.purchase_date}} </td>
                                </ng-container>

                                <ng-container matColumnDef="unit_price">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        Unit Price
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.unit_price}} </td>
                                </ng-container>

                                <ng-container matColumnDef="po_nos">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        PO Nos.
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.po_nos}} </td>
                                </ng-container>

                                <ng-container matColumnDef="rom">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        ROM
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.rom}} </td>
                                </ng-container>

                                <ng-container matColumnDef="supplier_phone">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        Supplier Phone Number
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.supplier_phone}} </td>
                                </ng-container>

                                <ng-container matColumnDef="extra_phone">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        Extra Phone Number
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.extra_phone}} </td>
                                </ng-container>

                                <ng-container matColumnDef="previous_user">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        Previous User
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.previous_user}} </td>
                                </ng-container>

                                <ng-container matColumnDef="repaired_date">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        Repaired Date
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.repaired_date}} </td>
                                </ng-container>

                                <ng-container matColumnDef="remarks">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        Remarks
                                    </th>
                                    <td mat-cell *matCellDef="let element" routerLink="../computer-asset/update-computer-asset"> {{element.remarks}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedComputers"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedComputers;"></tr>

                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell padt_basefive3 padb_basefive3" colspan="4">No data matching <b>"{{input.value}}"</b></td>
                                </tr>

                            </table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                            [pageSize]="5"
                                            showFirstLastButtons>
                            </mat-paginator>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #detailsBox>
    <div class="details_dialog">
        <div mat-dialog-title>
            <mat-icon> format_list_bulleted</mat-icon>
            <mat-label>Computer Asset Details</mat-label>
        </div>
        <div mat-dialog-content>
            <div class="row" *ngFor="let details of computerDetails">
                <span class="col-md-5 details_label">{{details.label}}
                    <span class="details_colon">:</span>
                </span>
                <span class="col-md-7">{{details.data}}</span>
            </div>
        </div>
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close class="alert_btn">CLOSE</button>
        </div>
    </div>
</ng-template>