// table column width
.mat-mdc-header-cell.mat-column-no {
    min-width: 70px;
}
.mat-mdc-header-cell.mat-column-details {
    min-width: 100px;
}
.mat-mdc-header-cell.mat-column-computer_name {
    min-width: 150px;
}
.mat-mdc-header-cell.mat-column-user_name {
    min-width: 200px;
}
.mat-mdc-header-cell.mat-column-serial_num {
    min-width: 120px;
}
.mat-mdc-header-cell.mat-column-computer_model {
    min-width: 150px;
}
.mat-mdc-header-cell.mat-column-old_hd_size {
    min-width: 130px;
}
.mat-mdc-header-cell.mat-column-new_hd_size {
    min-width: 150px;
}
.mat-mdc-header-cell.mat-column-memory_size {
    min-width: 100px;
}
.mat-mdc-header-cell.mat-column-ram {
    min-width: 70px;
}
.mat-mdc-header-cell.mat-column-ram_speed {
    min-width: 100px;
}
.mat-mdc-header-cell.mat-column-ram_type {
    min-width: 100px;
}
.mat-mdc-header-cell.mat-column-os_version {
    min-width: 130px;
}
.mat-mdc-header-cell.mat-column-cpu {
    min-width: 150px;
}
.mat-mdc-header-cell.mat-column-ms_office {
    min-width: 120px;
}
.mat-mdc-header-cell.mat-column-ms_office_status {
    min-width: 170px;
}
.mat-mdc-header-cell.mat-column-ms_office_version {
    min-width: 170px;
}
.mat-mdc-header-cell.mat-column-antivirus_name {
    min-width: 150px;
}
.mat-mdc-header-cell.mat-column-antivirus_status {
    min-width: 150px;
}
.mat-mdc-header-cell.mat-column-purchase_date {
    min-width: 120px;
}
.mat-mdc-header-cell.mat-column-unit_price {
    min-width: 100px;
}
.mat-mdc-header-cell.mat-column-po_nos {
    min-width: 120px;
}
.mat-mdc-header-cell.mat-column-rom {
    min-width: 100px;
}
.mat-mdc-header-cell.mat-column-supplier_phone {
    min-width: 170px;
}
.mat-mdc-header-cell.mat-column-extra_phone {
    min-width: 150px;
}
.mat-mdc-header-cell.mat-column-previous_user {
    min-width: 200px;
}
.mat-mdc-header-cell.mat-column-repaired_date {
    min-width: 120px;
}
.mat-mdc-header-cell.mat-column-remarks {
    min-width: 400px;
}

// table search
::ng-deep input::placeholder {
    color:rgba(255, 255, 255, 0.62) !important;
}
::ng-deep .card-header .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: #FFFFFF !important;
}
::ng-deep .card-header .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 0 !important;
}
::ng-deep .card-header .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}
::ng-deep .card-header .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: #e7b3be !important;
}
::ng-deep .card-header .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: #FFFFFF !important;
}
::ng-deep .card-header .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    caret-color: #FFFFFF !important;
}

.card-header {
    display: flex;
    justify-content: space-between;
}
.table_filter {
    .mat-mdc-form-field {
        width: 300px;
        line-height: 0;
        position: relative;
        top: -10px;

        .icon_search{
            position: relative;
            left: 0;
            top: 25px;
            font-size: 20px;
            color: rgba(255, 255, 255, 0.62);
        }
        input {
            padding-left: 30px;
        }

        &.mat-focused .icon_search {
            color: #FFFFFF;
        }
    }
}

// for computer details
.mat-mdc-cell.mat-column-details .mat-icon {
    color: #3c4858;
    width: 20px;
    height: 20px;
    font-size: 20px;
}
.mat-mdc-dialog-content .row {
    padding: 10px 0;
}
.details_label {
    font-weight: bold;
}
.details_colon {
    float: right;
}
@media (min-width: 768px) {
    .details_dialog {
        width: 600px;
    }
}