<div class="container-fluid mart_basefive3">
    <div class="row">
        <div class="col-12">
            <div class="marb_basefive3 marl_basefive3" style="display: inline-block;">
                <button type="button" class="primary_button add_btn" mat-raised-button routerLink="../lift-card/add-lift-card">Add Card</button>
            </div>
            <app-custom-table title="Lift Card List" role="" [searchable]="true"
                [dataArray]="dataArray" [labelNColArray]="labelColumnConfigurations" link="../lift-card/update-lift-card"></app-custom-table>
        </div>
    </div>
</div>