<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="left_login">
        <div class="left_flex_box">
            <img src="assets/images/login_vector.png">
            <p>Easy Management Control</p>
            <span>It is a set of activities that organizations use to identify its objectives and
                 to determine processes and resources required to achieve desired results.</span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="right_login">
        <div class="right_flex_box">
            <img src="assets/images/sip_logo.png" class="logo_img">
            <div class="right_flex_inner">
                <p>Welcome to Office Management System !</p>
                <form class="" [formGroup]="loginForm" method="post">
                    <mat-form-field class="login_name_field">
                      <mat-label>Username</mat-label>
                      <input matInput formControlName="username"/>
                      <mat-error>
                        <span *ngIf="loginForm.get('username')?.hasError('required')" [innerHTML]="requiredString"></span>
                      </mat-error>
                    </mat-form-field>
                  
                    <mat-form-field class="login_password_field">
                      <mat-label>Password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password">
                      <mat-icon (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                      <mat-error>
                        <span *ngIf="loginForm.get('password')?.hasError('required')" [innerHTML]="requiredString"></span>
                      </mat-error>
                    </mat-form-field>
                    
                    <div class="login_action">
                        <span>Forget Password ?</span>
                        <button type="button" mat-raised-button class="primary_button" (click)="handleLogin()">Login</button>
                    </div>
                  </form>
            </div>
        </div>    
    </mat-grid-tile>

    
</mat-grid-list>