.left_login {
    background: #8B0000;
    height: 100vh;
    padding-top: 0 !important;

    .left_flex_box {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 370px;
    }
    img {
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }
    p {
        font-size: 16px;
        color: #ffffff;
        margin-top: 15px;
    }
    span {       
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.right_login {
    height: 100vh;
    padding-top: 0 !important; 

    .mat-figure {
        justify-content: flex-start !important;
    }    
    .right_flex_box {
        width: calc(100% - 50px);
        height: calc(100% - 50px);
    }
    .right_flex_inner {
        width: 61%;
        margin: 0 auto;
        margin-top: 15% !important;

        p{
            font-size: 20px;
            font-weight: bold;  
            margin-bottom: 40px;      
        }
        .login_name_field, .login_password_field {
            display: block;

            input {
                height: 27px;
            }
        }

        .login_action {
            display: flex;
            justify-content: space-between;
            margin-top: 25px;

            span {
                font-size: 14px;
                padding-top: 10px;

                &:hover {
                    color: #8B0000;
                    cursor: pointer;
                }
            }
        }
        .mat-icon {
            font-size: 20px;
            cursor: pointer;
            position: absolute;
            top: 30px;
            right: 0;
        }
    }
}