<div [formGroup]="formG" >
    <mat-form-field class="full_width">
        <mat-label>{{label}}</mat-label>
        <input [toUpperCase]="upperCase" [OnlyNumber]="numberOnly" [formControlName]="formC" (blur)="onBlur()" matInput>
            <mat-error>
                <app-errorp-tip [formG]="formG" [formCN]="formC" [fLabel]="label"></app-errorp-tip>
            </mat-error>
    </mat-form-field>
</div>