<!-- <mat-drawer-container class="main-layout" autosize>

    
    <mat-drawer #drawer [opened]="isOpened" mode="side">
        <div class="sidebar">
            <app-sidebar></app-sidebar>
        </div>
    </mat-drawer>

    
    <div class="main-panel">
        <nav>
            <div class="navbar">
                <div class="d-flex">
                    <button mat-icon-button class="nav_menu" (click)="drawer.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <div class="header_txt">
                        Welcome to OMS System
                    </div>
                </div>
                <div class="d-flex mart_basefive1">
                    <div class="d-flex padr_basefive5 padt_basefive1">
                        <span class="avatar_circle">
                            <img src="assets/images/sample.jpg">
                        </span>
                        <div class="role_name padt_basetwo2"><span>John Snow</span></div>
                    </div>
                    <div class="vertical_line"></div>
                    <div style="margin-top: -5px;" class="padl_basefive3 mart_basefive-1">
                        <button mat-icon-button class="nav_menu">
                            <mat-icon>exit_to_app</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
        <div class="switch-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-drawer-container> -->

<mat-sidenav-container class="main-layout">
    <mat-sidenav #sidenav class="sidenav" mode="side" [opened]="isOpened" fixedInViewport="true">
        <div class="sidebar">
            <app-sidebar></app-sidebar>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="main-panel">
        <nav>
            <div class="navbar">
                <div class="d-flex">
                    <button mat-icon-button class="nav_menu" (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <div class="header_txt">
                        Welcome to OMS System
                    </div>
                </div>
                <div class="d-flex mart_basefive1">
                    <div class="d-flex padr_basefive5 padt_basefive1">
                        <span class="avatar_circle">
                            <img src="assets/images/sample.jpg">
                        </span>
                        <div class="role_name padt_basetwo2"><span>John Snow</span></div>
                    </div>
                    <div class="vertical_line"></div>
                    <div style="margin-top: -5px;" class="padl_basefive3 mart_basefive-1">
                        <button mat-icon-button class="nav_menu">
                            <mat-icon>exit_to_app</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
        <div class="switch-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>