::ng-deep .mat-drawer-content{
    background: #E9EAEF;
}

.sidebar{
    z-index: 2;
    width: 260px;
    height: 100%;
    max-height: 100%;
    background: #fff;
    box-shadow: 0 -27px 38px -12px rgba(0,0,0,.56), 0 -20px 25px 0 rgba(0,0,0,.12), 0 -20px 10px -5px rgba(0,0,0,.2);
}
.main-panel{
    position: relative;
    height: 100vh;
    transition: .33s,cubic-bezier(.685,.0473,.346,1);
}
nav {
    position: sticky; 
    top: 0; 
    z-index: 2;
    background-color: #E9EAEF;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

    .header_txt{
        padding: 15px 0px 10px 20px;
        font-size: 18px;
        font-weight: bold;
        color: #3c4858;
    }

    .avatar_circle{
        width: 30px;
        height: 30px;
        display: inline-flex;
        margin-right: 10px;

        img{
            width: 100%;
            border-radius: 50%;
        }
    }
    .role_name span{
        font-size: 14px;
        vertical-align: middle;
    }
    .vertical_line{
        border: 1px solid;
        height: 20px;
        margin-top: 10px;
    }
}
.switch-content{
    // height: calc(100vh - 110px);
    padding: 5px 15px 20px 15px;
}

@media (max-width: 768px) {
    .navbar input{
        width: auto;
    }
    
}