@import 'material-icons/iconfont/material-icons.css';
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: "Roboto", sans-serif !important;
    overflow: hidden;
}

@for $x from 0 through 100 {
    .pad_basetwo#{$x} {
      padding: $x * 2px;
    }
    .padt_basetwo#{$x} {
      padding-top: $x * 2px;
    }
    .padb_basetwo#{$x} {
      padding-bottom: $x * 2px;
    }
    .padr_basetwo#{$x} {
      padding-right: $x * 2px;
    }
    .padl_basetwo#{$x} {
      margin-left: $x * 2px;
    }
    .mar_basetwo#{$x} {
      margin: $x * 2px;
    }
    .mart_basetwo#{$x} {
      margin-top: $x * 2px;
    }
    .marb_basetwo#{$x} {
      margin-bottom: $x * 2px;
    }
    .marr_basetwo#{$x} {
      margin-right: $x * 2px;
    }
    .marl_basetwo#{$x} {
      margin-left: $x * 2px;
    }
}

@for $x from 0 through 100 {
    .pad_basefive#{$x} {
        padding: $x * 5px !important;
    }
    .padt_basefive#{$x} {
        padding-top: $x * 5px !important;
    }
    .padb_basefive#{$x} {
        padding-bottom: $x * 5px !important;
    }
    .padr_basefive#{$x} {
        padding-right: $x * 5px !important;
    }
    .padl_basefive#{$x} {
        padding-left: $x * 5px !important;
    }
    .mar_basefive#{$x} {
        margin: $x * 5px !important;
    }
    .mart_basefive#{$x} {
        margin-top: $x * 5px !important;
    }
    .marb_basefive#{$x} {
        margin-bottom: $x * 5px !important;
    }
    .marr_basefive#{$x} {
        margin-right: $x * 5px !important;
    }
    .marl_basefive#{$x} {
        margin-left: $x * 5px !important;
    }
}

// common
.d-flex {
    display: flex;
}
.full_width {
    width: 100%;
}
.logo_img {
    width: 120px;
}

// small card
.sm_card {
    position: relative;
    background: #ffffff;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);

    .sm_card_title {
        font-weight: bold;
        font-size: 16px;
    }
    .hr_line{
        height: 1px;
        background: #e2e2e2;
        width: 70%;
    }
    .small_text {
        font-size: 12px;
        margin-top: 12px;
        margin-bottom: 0;
    }
    .sm_card_btn {
        background: #8B0000;
        display: inline-block;
        width: 60px;
        height: 60px;
        color: #fff;
        border-radius: 4px;
        text-align: center;
        padding-top: 18px;
        position: absolute;
        top: 35px;
        right: -15px;
        box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
    }
}

// card
.card {
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .card-header {
        background: #8B0000;
        border-radius: 3px;
        margin: -20px 15px 0 15px;
        padding: 20px;
        box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);

        .card-title {
            color: #ffffff;
            font-size: 18px;
        }
        .card-role {
            color: rgba(255,255,255,.62);
            margin-bottom: 0;
        }
    }
}

// material form field
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    caret-color: #8B0000 !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mat-mdc-form-field-focus-overlay {
    background-color: unset !important;
    padding: 0;
}
input:-internal-autofill-selected {
    background-color: unset !important;
}
.mat-mdc-text-field-wrapper:hover .mat-mdc-form-field-focus-overlay {
    opacity: 0 !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
    color: #000000 !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: #8B0000 !important;
}
.mat-form-field-label {
    font-size: 18px;
    font-weight: bold;
}
.mat-form-field-appearance-legacy .mat-form-field-underline, .mat-form-field.mat-focused .mat-form-field-ripple {
    background:#8B0000;
    height: 1px !important;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
    opacity: 0 !important;
}
.mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(0,0,0,.54) !important;
}
.mat-input-element {
    caret-color: #8B0000 !important;
}
.mat-mdc-form-field-error-wrapper {
    padding: 5px 0 !important;
}
.mdc-text-field--filled .mdc-floating-label {
    font-size: 14px !important;
}
.mdc-text-field__input {
    font-size: 14px !important;
}

// material select dropdown
.mat-mdc-form-field.mat-focused .mat-mdc-select-arrow {
    color: #8B0000 !important;
}
.mat-mdc-select-arrow-wrapper {     // dropdown arrow for form select box
    margin-right: 20px !important;
}
.mat-mdc-paginator-container .mat-mdc-select-arrow-wrapper {  // dropdown arrow for datatable pagination select box
    margin-right: 0 !important;
}
.mat-mdc-option {
    min-height: 40px !important;
    font-size: 14px !important;
    margin: 5px 0;
}
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: #8B0000 !important;
}
.mat-mdc-select-value {
    font-size: 14px !important;
}
.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
    color: #8B0000 !important;
}
.mat-mdc-option.mat-mdc-option-active.mdc-list-item {
    background-color: unset !important;
}
.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full {    // multiselect
    background: #8B0000 !important;
}
.mat-mdc-optgroup-label {
    font-size: 14px;
    font-weight: bold;
}

// material chips
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
    background-color: #EBDAC3 !important;
}

// material checkbox
.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
    border-color: #8B0000 !important;
    background-color: #8B0000 !important;
}
.mdc-checkbox .mdc-checkbox__native-control:focus:checked~.mdc-checkbox__ripple,
.mdc-checkbox .mdc-checkbox__native-control:focus~.mdc-checkbox__ripple {
    background-color: transparent !important;
}

// material radio button 
.mat-mdc-radio-button .mdc-form-field {
    color: rgba(0, 0, 0, 0.6) !important;
}
.mat-mdc-radio-button.mat-accent {
    --mdc-radio-selected-icon-color: #8B0000 !important;
    --mdc-radio-selected-focus-icon-color: #8B0000 !important;
    --mdc-radio-selected-hover-icon-color: #8B0000 !important;
}
.mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before,
.mat-mdc-radio-button .mdc-radio .mdc-radio__background::before {
    background-color: transparent !important;
}

// material button
.primary_button {
    background: #8B0000 !important;
    color: #ffffff !important;
    font-size: 14px !important;
    border-radius: 4px !important;
    height: 40px !important;
    padding: 5px 35px !important;

    &:hover {
        background-color: #660000 !important;
    }
}

// material table
table.mat-mdc-table {
    width: 100%;
    display: block;
    overflow-x: auto;

    tr.mat-row:last-child td {
        border-bottom: 0 !important;
    }
    .mdc-data-table__cell, .mdc-data-table__header-cell {
        padding: 10px 5px;
    }
    .mdc-data-table__header-cell {
        font-weight: bold;
    }
    tr.mat-mdc-row:hover {
        cursor: pointer;
        background-color: #FAF1E5;
    }
}

// material pagination
.mat-mdc-paginator-container {
    padding-top: 16px !important;

    .mdc-notched-outline {
        display: none;
    }
    .mat-mdc-text-field-wrapper {
        border: 1px solid #9e9e9e;
        border-radius: 4px;
        height: 40px;

        &.mdc-text-field--focused {
            border: 1px solid #8B0000;
        }
    }
}

// material dialog alert
.mat-mdc-dialog-container {
    .mat-mdc-dialog-title {
        background-color: #8B0000;
        color: #FFFFFF !important;
        padding: 0 20px !important;
        margin: 0 !important;
    
        .mat-icon {
            font-size: 20px;
            font-weight: bold;
        }
        mat-label {
            font-size: 16px;
            font-weight: bold;
            position: absolute;
            top: 11px;
            left: 50px;
        }
    }
    .mat-mdc-dialog-content {
        padding: 20px !important;
        color: rgba(0, 0, 0, 0.87) !important;
        font-size: 14px !important;
        max-height: 73vh !important;
    }
    .mat-mdc-dialog-actions {
        justify-content: end;
        padding: 20px;
        box-shadow: 0px 7px 5px 5px rgb(0, 0, 0, 1.5);

        .alert_btn {
            background: #8B0000;
            color: #ffffff;
            font-size: 14px;
            border-radius: 4px;
            height: 32px;
            padding: 5px 10px;

             &:hover {
                background-color: #660000;
             }
        }
    }
}