.card-body {
    .mat-datepicker-toggle {
        color: #8B0000;
    }
    .cancel_btn, .update_btn, .delete_btn {
        float: right;
    }
}
.delete_dialog {
    min-width: 350px;

    .text_bold {
        font-weight: bold;
    }
}