<div class="container-fluid mart_basefive3">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p class="card-title">Update Computer Asset</p>
                    <p class="card-role">update computer asset form</p>
                </div> 
                <form class="card-body marl_basefive3 marr_basefive3">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Computer Name</mat-label>
                                <input matInput value="SIP-NB-0043">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>User Name</mat-label>
                                <mat-select [(value)]="username_selected">
                                    <mat-option value="user1">User 1</mat-option>
                                    <mat-option value="user2">User 2</mat-option>
                                    <mat-option value="user3">User 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Serial Number</mat-label>
                                <input matInput value="PF-OOWK1L 14/03">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Computer Model</mat-label>
                                <input matInput value="Lenovo T440">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Old Hardisk Size</mat-label>
                                <input matInput value="HDD 1TB">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>New Hardisk Size</mat-label>
                                <input matInput value="SSD 512G">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>RAM</mat-label>
                                <mat-select [(value)]="ram_selected">
                                    <mat-option value="8GB">8 GB</mat-option>
                                    <mat-option value="12GB">12 GB</mat-option>
                                    <mat-option value="16GB">16 GB</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>RAM Speed</mat-label>
                                <input matInput value="1600 MHz">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>RAM Type</mat-label>
                                <mat-select [(value)]="ram_type_selected">
                                    <mat-option value="DDR3">DDR3</mat-option>
                                    <mat-option value="DDR3L">DDR3L</mat-option>
                                    <mat-option value="DDR3L-SODIMM">DDR3L-SODIMM</mat-option>
                                    <mat-option value="DDR3-SDRAM">DDR3-SDRAM</mat-option>
                                    <mat-option value="DDR4">DDR4</mat-option>
                                    <mat-option value="DDR4-SDRAM">DDR4-SDRAM</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>OS Version</mat-label>
                                <mat-select [(value)]="os_selected">
                                    <mat-option value="window10pro">Window 10 Pro</mat-option>
                                    <mat-option value="window11pro">Window 11 Pro</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>CPU</mat-label>
                                <input matInput value="Core™ i7 - 4500U CPU @ 1.80 GHz">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Microsoft Office</mat-label>
                                <mat-select [(value)]="msoffice_selected">
                                    <mat-option value="none">None</mat-option>
                                    <mat-option value="msoffice">Microsoft Office Professional Plus 2019</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row" *ngIf="msoffice_selected == 'msoffice'">
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Microsoft Office Status</mat-label>
                                <mat-select>
                                    <mat-option value="true">Activate</mat-option>
                                    <mat-option value="false">Non-Activate</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Microsoft Office Version</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Antivirus Name</mat-label>
                                <input matInput value="Trend Micro">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Antivirus Status</mat-label>
                                <mat-select [(value)]="antivirus_status_selected">
                                    <mat-option value="true">Activate</mat-option>
                                    <mat-option value="false">Non-Activate</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Unit Price</mat-label>
                                <input matInput value="$1,816.00">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Date of Puchase</mat-label>
                                <input matInput [matDatepicker]="purchaseDate">
                                <mat-datepicker-toggle matIconSuffix [for]="purchaseDate"></mat-datepicker-toggle>
                                <mat-datepicker #purchaseDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>PO Nos.</mat-label>
                                <input matInput value="PO-0514-0629">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>DVD Drive/ROM</mat-label>
                                <input matInput value="dvd drive">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Supplier	Phone Number</mat-label>
                                <input matInput value="987654321">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Extra Phone Number</mat-label>
                                <input matInput value="1234567890">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Previous User</mat-label>
                                <input matInput value="User 3">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Repaired Date</mat-label>
                                <input matInput [matDatepicker]="repairedDate">
                                <mat-datepicker-toggle matIconSuffix [for]="repairedDate"></mat-datepicker-toggle>
                                <mat-datepicker #repairedDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="full_width">
                                <mat-label>Remarks</mat-label>
                                <textarea matInput value="changed HD SSD 512, battery changed, over heat, performance slow, touchpad error, space bar error, screen error with color shade"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mart_basefive3">
                            <button type="button" class="primary_button marl_basefive2 update_btn" mat-raised-button>Update</button>
                            <button type="button" class="primary_button marl_basefive2 delete_btn" (click)="showDeleteAlert()" mat-raised-button>Delete</button>
                            <button class="primary_button cancel_btn" mat-raised-button routerLink="../">Cancel</button>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #deleteDialog>
    <div class="delete_dialog">
        <div mat-dialog-title>
            <mat-icon>error_outline</mat-icon> 
            <mat-label>Confirm Delete</mat-label>
        </div>
        <div mat-dialog-content>
            <p class="text_bold">Are you sure you  want to delete?</p>
            <p>This will delete permanently. You cannot undo this action.</p>
        </div>
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close class="alert_btn">Cancel</button>
            <button mat-button class="alert_btn">OK</button>
        </div>
    </div>
</ng-template>