<div class="container-fluid mart_basefive3">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="left_div">
                        <p class="card-title">User List</p>
                        <p class="card-role">user list</p>
                    </div>
                    <div class="table_filter">
                        <mat-form-field>
                            <mat-icon matprefix class="icon_search">search</mat-icon>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
                        </mat-form-field>
                    </div>
                </div>  
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
                    
                                <ng-container matColumnDef="no">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by no"> 
                                        No.
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.no}} </td>
                                </ng-container>
                            
                                <ng-container matColumnDef="username">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by username"> 
                                        Username 
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                                </ng-container>

                                <ng-container matColumnDef="display_name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by display_name">
                                        Display Name
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.display_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email"> 
                                        Email Address
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                                </ng-container>
                            
                                <ng-container matColumnDef="role">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by role"> 
                                        Role 
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status"> 
                                        Status
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="displayedUsers"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedUsers;" routerLink="../update-user-profile"></tr>

                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell padt_basefive3 padb_basefive3" colspan="4">No data matching <b>"{{input.value}}"</b></td>
                                </tr>
                            </table>
                            
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                            [pageSize]="5"
                                            showFirstLastButtons>
                            </mat-paginator>            
                        </div>
                    </div>         
                </div>      
            </div>
        </div>
    </div>
</div>