<div class="container-fluid mart_basefive3">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p class="card-title">Role</p>
                    <p class="card-role">user role</p>
                </div>
                <form class="card-body marl_basefive3 marr_basefive3" [formGroup]="roleForm" (ngSubmit)="handleRoleSave()">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Role Name</mat-label>
                                <input matInput formControlName="roleName">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full_width">
                                <mat-label>Description</mat-label>
                                <input matInput formControlName="description">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 mart_basefive3">
                        <mat-label class="role_type_lbl">UI Types</mat-label>
                        <mat-radio-group aria-label="Select an option" formControlName="roleType">
                          <mat-radio-button *ngFor="let role of keys ; let i = index" class="marr_basefive4"
                                            [checked]="defaultCheckeSuperAdminRole(i)" [value]="role">{{role}}</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="row" *ngIf="OnCheckSuperAdmin()">
                        <div class="col-md-12">
                            <mat-form-field class="full_width">
                                <mat-label>Menu Management</mat-label>
                                <mat-select multiple [formControl]="menuControl">

                                    <mat-select-trigger>
                                        <mat-chip-grid #chipGrid aria-label="Menu selection" formControlName="menus">
                                            <mat-chip-row  *ngFor="let menu of menuControl.value" [removable]="true" (removed)="menuRemoved(menu)">
                                                {{menu}}
                                                <mat-icon matChipRemove>cancel</mat-icon>
                                            </mat-chip-row>
                                        </mat-chip-grid>
                                    </mat-select-trigger>

                                    <ng-container *ngFor="let menuItem of menuItems">
                                        <ng-container *ngIf="menuItem.children; else optionTemplate">
                                            <mat-optgroup [label]="menuItem.label">
                                                <mat-option *ngFor="let childItem of menuItem.children" [value]="childItem.label">
                                                    {{ childItem.label }}
                                                </mat-option>
                                            </mat-optgroup>
                                        </ng-container>
                                        <ng-template #optionTemplate>
                                            <mat-option [value]="menuItem.label">{{ menuItem.label }}</mat-option>
                                        </ng-template>
                                    </ng-container>
                                    <input [matChipInputFor]="chipGrid" style="display: none;"/>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mart_basefive3">
                            <button type="submit" class="primary_button add_btn" mat-raised-button>Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row mart_basefive4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p class="card-title">Role List</p>
                    <p class="card-role">Total : 3</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table mat-table [dataSource]="dataSource">
                                <ng-container matColumnDef="no">
                                    <th mat-header-cell *matHeaderCellDef>
                                        No.
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.no}} </td>
                                </ng-container>

                                <ng-container matColumnDef="role_name">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Role Name
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.role_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="description">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Description
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                                </ng-container>

                                <ng-container matColumnDef="role_types">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Role Types
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.role_types}} </td>
                                </ng-container>

                                <ng-container matColumnDef="menu_management">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Menu Management
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.menu_management}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
