.card-body{
    .role_type_lbl {
        color: rgba(0, 0, 0, 0.6);
        display: block;
    }
    table.mat-mdc-table {
        display: table !important;
        overflow: hidden;
    }
    .add_btn {
        float: right;
    }
}