<div class="container-fluid mart_basefive3">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p class="card-title">Add Lift Card</p>
                    <p class="card-role">add lift card asset form</p>
                </div> 
                <form [formGroup]="liftCardForm" (ngSubmit)="saveLiftCard()" class="card-body marl_basefive3 marr_basefive3">
                    <div class="row">
                        <app-custom-form [formG]="liftCardForm" [formC]="'cardNo'" label="Lift Card Number" 
                        calss="col-md-6"></app-custom-form>
                        <app-custom-select-form [formG]="liftCardForm" [formC]="'cardStatus'" 
                        label="Lift Card Status" [datas]="cardStatuses" class="col-md-6"></app-custom-select-form>
                    </div>
                    <div class="row">
                        <app-custom-select-form [formG]="liftCardForm" [formC]="'currentOwner'" 
                        label="Current Owner" [datas]="curEmployees" class="col-md-6"></app-custom-select-form>
                        <app-custom-select-form [formG]="liftCardForm" [formC]="'previousOwner'" 
                        label="Previous Owner" [datas]="allEmployees" class="col-md-6"></app-custom-select-form>
                    </div>
                    <div class="row">
                        <app-custom-date-form [formG]="liftCardForm" [formC]="'createdDate'"
                        label="Created Date"></app-custom-date-form>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mart_basefive3">
                            <button type="submit" class="primary_button marl_basefive2 add_btn" mat-raised-button>Add Card</button>
                            <button type="button" class="primary_button cancel_btn" mat-raised-button routerLink="../">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>