
@font-face {
    font-family: Roboto;
    src: local(Roboto-Regular),
      url(./fontname/Roboto-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }
  
  @font-face {
    font-family: Roboto;
    src: local(Roboto-Bold),
      url(./fontname/Roboto-Bold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
  }
  
  @font-face {
    font-family: Roboto;
    src: local(Roboto-Black),
     /*  url(./fontname/NotoSans-Black.woff2) format("woff2"), */
      url(./fontname/Roboto-Black.woff) format("woff");
     /*  url(./fontname/NotoSans-Black.ttf) format("truetype"); */
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
  }
  
  /* .Desktop---Headline-1 {
    font-family: Roboto;
    font-size: 72px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #333739;
  }
  
  .Desktop---Headline-1-Headline-2 {
    font-family: NotoSans;
    font-size: 48px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #333739;
  }
  
  .Desktop---Headline-3 {
    font-family: NotoSans;
    font-size: 30px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #333739;
  }
  
  .Desktop---Headline-4 {
    font-family: NotoSans;
    font-size: 24px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333739;
  }
  
  .Desktop---Body-1-Bold {
    font-family: NotoSans;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333739;
  }
  
  .Desktop---Body-1-Regular {
    font-family: NotoSans;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333739;
  }
  
  .Desktop---Body-2-Bold {
    font-family: NotoSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #333739;
  }
  
  .Desktop---Body-2-Regular {
    font-family: NotoSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #333739;
  }
  
  .Desktop---Body-3-Bold {
    font-family: NotoSans;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333739;
  }
  
  .Desktop---Body-3-Regular {
    font-family: NotoSans;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333739;
  } */