<!-- <div class="container-fluid mart_basefive3 padr_basefive5">
    <div class="row">
        <div class="col-md-3">
            <div class="sm_card">
                <div>
                    <p class="sm_card_title">User Management</p>
                    <p class="sm_card_subtitle">Authorized user : <span>4</span></p>
                    <div class="hr_line"></div>
                    <p class="small_text">Updated date : <span>30/11/2023</span></p>
                </div>               
                <div class="sm_card_btn">
                    <mat-icon>account_box</mat-icon>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sm_card">
                <div>
                    <p class="sm_card_title">Staff Management</p>
                    <p class="sm_card_subtitle">Total staff : <span>{{currentEmployeeCount}}</span></p>
                    <div class="hr_line"></div>
                    <p class="small_text">Updated date : <span>30/11/2023</span></p>
                </div>               
                <div class="sm_card_btn">
                    <mat-icon>people</mat-icon>
                </div>
            </div>            
        </div>
        <div class="col-md-3">
            <div class="sm_card">
                <div>
                    <p class="sm_card_title">Computer List</p>
                    <p class="sm_card_subtitle">Total devices : <span>35</span></p>
                    <div class="hr_line"></div>
                    <p class="small_text">Updated date : <span>30/11/2023</span></p>
                </div>               
                <div class="sm_card_btn">
                    <mat-icon>laptop_chromebook</mat-icon>
                </div>
            </div>            
        </div>
        <div class="col-md-3">
            <div class="sm_card">
                <div>
                    <p class="sm_card_title">Office Equipment</p>
                    <p class="sm_card_subtitle">Total quantity : <span>92</span></p>
                    <div class="hr_line"></div>
                    <p class="small_text">Updated date : <span>30/11/2023</span></p>
                </div>               
                <div class="sm_card_btn">
                    <mat-icon>developer_board</mat-icon>
                </div>
            </div>            
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="sm_card">
                <div>
                    <p class="sm_card_title">Office Furniture</p>
                    <p class="sm_card_subtitle">Total quantity : <span>78</span></p>
                    <div class="hr_line"></div>
                    <p class="small_text">Updated date : <span>30/11/2023</span></p>
                </div>               
                <div class="sm_card_btn">
                    <mat-icon>business_center</mat-icon>
                </div>
            </div>            
        </div>
        <div class="col-md-3">
            <div class="sm_card">
                <div>
                    <p class="sm_card_title">Appraisal</p>
                    <p class="sm_card_subtitle">Total : <span>35</span></p>
                    <div class="hr_line"></div>
                    <p class="small_text">Updated date : <span>30/11/2023</span></p>
                </div>               
                <div class="sm_card_btn">
                    <mat-icon>insert_drive_file</mat-icon>
                </div>
            </div>            
        </div>
        <div class="col-md-3">
            <div class="sm_card">
                <div>
                    <p class="sm_card_title">PettyCash & Expense</p>
                    <p class="sm_card_subtitle">Total : <span>120,000</span></p>
                    <div class="hr_line"></div>
                    <p class="small_text">Updated date : <span>30/11/2023</span></p>
                </div>               
                <div class="sm_card_btn">
                    <mat-icon> monetization_on</mat-icon>
                </div>
            </div>            
        </div>
        <div class="col-md-3">
            <div class="sm_card">
                <div>
                    <p class="sm_card_title">Staff Contract</p>
                    <p class="sm_card_subtitle">Total : <span>65</span></p>
                    <div class="hr_line"></div>
                    <p class="small_text">Updated date : <span>30/11/2023</span></p>
                </div>               
                <div class="sm_card_btn">
                    <mat-icon> attach_file</mat-icon>
                </div>
            </div>            
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="sm_card">
                <div>
                    <p class="sm_card_title">Home Contract</p>
                    <p class="sm_card_subtitle">Total : <span>12</span></p>
                    <div class="hr_line"></div>
                    <p class="small_text">Updated date : <span>30/11/2023</span></p>
                </div>               
                <div class="sm_card_btn">
                    <mat-icon>home</mat-icon>
                </div>
            </div>            
        </div>
        <div class="col-md-3">
            <div class="sm_card">
                <div>
                    <p class="sm_card_title">Voucher</p>
                    <p class="sm_card_subtitle">Total : <span>78</span></p>
                    <div class="hr_line"></div>
                    <p class="small_text">Updated date : <span>30/11/2023</span></p>
                </div>               
                <div class="sm_card_btn">
                    <mat-icon>receipt</mat-icon>
                </div>
            </div>            
        </div>
    </div>
</div> -->

<div class="container-fluid mart_basefive3">
    <div class="row">
        <app-custom-card title="User Management" subtitle="Authorized user" count="4" date="30/11/2023"
            class="col-md-3 col-sm-6" icon="account_box" link=""></app-custom-card>
        <app-custom-card title="Staff Management" subtitle="Total staff" [count]="currentEmployeeCount"
            date="30/11/2023" class="col-md-3 col-sm-6" icon="people" link="/main/staff-management"></app-custom-card>
        <app-custom-card title="Computer List" subtitle="Total devices" count="35" date="30/11/2023"
            class="col-md-3 col-sm-6" icon="laptop_chromebook" link=""></app-custom-card>
        <app-custom-card title="Office Equipment" subtitle="Total quantity" count="30" date="30/11/2023"
            class="col-md-3 col-sm-6" icon="developer_board" link=""></app-custom-card>
    </div>
    <div class="row">
        <app-custom-card title="Office Furniture" subtitle="Total quantity" count="78" date="30/11/2023"
            class="col-md-3 col-sm-6" icon="business_center" link=""></app-custom-card>
        <app-custom-card title="Appraisal" subtitle="Total" count="35" date="30/11/2023" class="col-md-3 col-sm-6"
            icon="insert_drive_file" link=""></app-custom-card>
        <app-custom-card title="PettyCash & Expense" subtitle="Total" count="120,000" date="30/11/2023"
            class="col-md-3 col-sm-6" icon="monetization_on" link=""></app-custom-card>
        <app-custom-card title="Staff Contract" subtitle="Total" count="65" date="30/11/2023" class="col-md-3 col-sm-6"
            icon="attach_file" link=""></app-custom-card>
    </div>
    <div class="row">
        <app-custom-card title="Home Contract" subtitle="Total" count="12" date="30/11/2023" class="col-md-3 col-sm-6"
            icon="home" link=""></app-custom-card>
        <app-custom-card title="Voucher" subtitle="Total" count="78" date="30/11/2023" class="col-md-3 col-sm-6"
            icon="receipt" link=""></app-custom-card>
    </div>
</div>