<div class="container-fluid mart_basefive3">
    <div class="row">
        <div class="col-12">
            <app-custom-table title="Staff Profile List" role="current staff profile list" [searchable]="true"
                [dataArray]="empForUi" [labelNColArray]="labelColumnConfigurations" link="../update-staff-profile/"></app-custom-table>
        </div>
    </div>
</div>
