<div mat-dialog-title>
    <mat-icon>error_outline</mat-icon> 
    <mat-label>Alert</mat-label>
</div>
<div mat-dialog-content>
    {{label}}
</div>
<div mat-dialog-actions>
    <button type="button" mat-dialog-close class="alert_btn">Cancel</button>
    <button type="button" (click)="submit()" mat-button class="alert_btn">OK</button>
</div>