<div class="sidebar_container">
    <div class="logo">
        <img src="assets/images/sip_logo.png" class="logo_img">
    </div>
    <div class="sidebar_wrapper">
        <ul class="nav-menu">
            <li class="nav-item">
                <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
                    <mat-icon>dashboard</mat-icon>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="user-management" routerLinkActive="active">
                    <mat-icon>account_box</mat-icon>
                    <p>User Management</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="staff-management" routerLinkActive="active">
                    <mat-icon>people</mat-icon>
                    <p>Staff Management</p>
                </a>
            </li>
            <li class="nav-item dropdown_li" routerLinkActive="active">
                <a class="nav-link dropbtn">
                    <mat-icon>laptop_chromebook</mat-icon>
                    <p>Asset Management</p>
                    <mat-icon class="right-arrow marl_basefive2">keyboard_arrow_right</mat-icon>
                </a>
                <div class="dropdown-body">
                    <ul class="dropdown-list">
                        <li>
                            <a routerLink="asset-management/computer-asset" routerLinkActive="active">Computer List</a>
                        </li>
                        <li><a href="#">Office Equipment</a></li>
                        <li><a href="#">Office Furniture</a></li>
                        <li><a routerLink="asset-management/lift-card" routerLinkActive="active">Lift Card</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item dropdown_li">
                <a class="nav-link dropbtn">
                    <mat-icon>insert_drive_file</mat-icon>
                    <p>Document Management</p>
                    <mat-icon class="right-arrow marl_basefive2">keyboard_arrow_right</mat-icon>
                </a>
                <div class="dropdown-body">
                    <ul class="dropdown-list">
                        <li><a href="#">Appraisal</a></li>
                        <li><a href="#">PettyCash & Expense</a></li>
                        <li><a href="#">Staff Contract</a></li>
                        <li><a href="#">Home Contract</a></li>
                        <li><a href="#">Voucher</a></li>
                    </ul>
                </div>
            </li>         
        </ul>
    </div>
    <div class="sidebar_footer">
        <p><mat-icon>copyright</mat-icon> 2023 - OMS System | All Rights Reserved</p>
    </div>
</div>