.sidebar_container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .logo{
        text-align: center;
        padding-top: 15px;
    }
    .sidebar_wrapper{
        flex-grow: 1;
        margin-bottom: 70px;
    
        .nav-menu{
            padding-left: 0;
            margin-top: 25px;
            list-style: none;
    
            .nav-item.dropdown_li {
                position: relative;
            }
            .nav-item:hover .nav-link{
                background-color: #8B0000;
                box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
            }
            .nav-item a{
                display: flex;
                margin: 10px 10px 0;
                border-radius: 3px;
                color: #3c4858;
                text-transform: capitalize;
                text-decoration: none;
                font-size: 14px;
                padding: 10px;
            }
            .nav-link.dropbtn {
                cursor: default;
            }
            .nav-item .nav-link.active, .nav-item:hover .nav-link,
            .dropdown_li.active .nav-link{
                background-color: #8B0000;
                box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
            }
            .nav-item .nav-link.active .mat-icon, 
            .nav-item .nav-link.active p, 
            .nav-item:hover a .mat-icon, 
            .nav-item:hover a p,
            .dropdown_li.active .nav-link {
                color: #ffffff;
            }
            .mat-icon{
                font-size: 24px;
                float: left;
                margin-right: 5px;
                line-height: 30px;
                width: 30px;
                text-align: center;
            }
            .mat-icon.right-arrow {
                position: absolute;
                top: 10px;
                right: 10px;
            }
            p{
                margin: 0;
                line-height: 30px;
                font-size: 14px;
                position: relative;
                display: block;
                height: auto;
                white-space: nowrap;
            }
        }
    }
    .sidebar_footer{
        display: flex;
        justify-content: center;
        font-size: 12px;
        position: relative;
        bottom: 0;
    
        .mat-icon {
            font-size: 16px;
            float: left;
            line-height: 20px;
            width: 20px;
            text-align: center;
        }
    }
}

.dropdown-body {
    display: none;
    position: relative;
    top: -50px;
    left: 255px;
}
.dropdown-list{
    list-style: none;
    position: fixed;
    background: #8B0000;
    box-shadow: 3px 1px 6px 1px rgba(0, 0, 0, 0.55);
    border-radius: 3px;
    padding: 0 10px 10px;

    li:hover{
        background: #ffffff;
        border-radius: 3px;

        a{
            color: #8B0000 !important;
        }
        
    }

    a{
        color: #FFFFFF !important;
        margin: 10px 0 0 0 !important;

        &.active {
            background: #FFFFFF !important;
            color: #8B0000 !important;
        }
    }
}

.dropdown_li:hover .dropdown-body {
    display: block;
}